#grid {
  display: grid;
  background-color: #0a061a;
  grid-template-columns: 30% 70%;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    "main about"
    "main content";
  & #main {
    grid-area: main;
  }
  & #content {
    grid-area: content;
    margin-top: 50px;
  }
  & #about {
    grid-area: about;
    margin-top: 20px;
  }
}
.main {
  // min-height: 500px;
  padding: 10px;
  margin: 0;
  color: #f2f2f2;
  display: flex;
  &__exit {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 30px;
    cursor: pointer;
    &:hover {
      color: #146c94;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
  }
  &__avatar {
    margin-top: 50px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #146c94;
  }
  &__username {
    margin-top: 15px;
    font-size: 40px;
    font-weight: 700;
  }
  &__mail {
    margin-top: 10px;
    color: #a4a4a4;
    font-size: 26px;
    font-weight: 400;
  }
  &__social {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    &-follow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 130px;
      height: 50px;
      background-color: #282745;
      border-radius: 10px;
      cursor: pointer;
      & img {
        height: 25px;
        margin-right: 8px;
      }
      & a {
        color: #f2f2f2;
        font-size: 25px;
        font-weight: 400;
      }
    }
  }
  &__nav {
    padding-top: 20px;
    &-item {
      cursor: pointer;
      margin-top: 5px;
      padding: 15px 25px 15px 35px;
    }
    & .active {
      background-color: #1b1d43;
      border-left: 3px solid #146c94;
    }
    & img {
      height: 30px;
      margin-right: 50px;
    }
    & span {
      color: #f2f2f2;
      font-size: 30px;
      font-weight: 400;
    }
  }
  & img {
    display: inline-block;
  }
  & .heart {
    height: 30px;
    vertical-align: middle;
  }
  & .nav-list {
    margin-top: 30px;
  }
  &__btn {
    border: none;
    font-size: 22px;
    margin-top: 20px;
    padding: 5px 30px;
    cursor: pointer;
    color: white;
    background-color: #146c94;
    border-radius: 10px;
    &:hover {
      background-color: #154d67;
    }
  }
}
.content {
  color: white;
  text-align: center;
  // &__line {
  //   margin: 0 auto;
  //   width: 700px;
  //   height: 2px;
  //   background-color: #146c94;
  //   margin-bottom: 20px;
  // }
}
